/*
 * Special CSS styles for the chamilo_XXX themes
 */

/* the sticky effect */
html {
    height: 100%;
}

body {
    /* hack ignored by non-IE to enable ie to support :hover on button */
    behavior:url("/main/css/csshover3.htc");    
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100%; /* stick */
	font-family: Arial, Helvetica, sans-serif;
}